* {
    box-sizing: border-box;
}

html,
body {

}

body {
    margin: 0;
    font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #4a4a4a;
}

h1,
h2,
header > small {
    line-height: 1.5;
}

h1,
header > small {
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    color: #ffffff;
}

h1 {
    font-size: 72px;
}

h2,
header > small {
    font-size: 36px;
}

h2,
section > .container > small {
    padding-left: 80px;
    padding-right: 80px;
}

h2 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    color: #777;
}

ol,
ul {
    margin-left: 80px;
    padding-left: 20px;
}

header {
    padding-top: 15vh;
    height: 100vh;
    background-image: url("image/header-img-01.jpg");
    background-position: bottom center;
    background-size: cover;
    text-align: center;
}

header img {
    width: 396px;
}

article {}

article section {
    padding-top: 20px;
    padding-bottom: 40px;
    min-height: 100px;
    text-align: center;
}

article section:nth-of-type(odd) {
    background-color: #f4f4f4;
}

article section.info {}

article section.overview {}

article section.luggage {}

article section.place {}

article section.question {}

article section > .container,
footer > .container {
    display: inline-block;
    width: 960px;
}

article section.info > .container,
article section.question > .container {
    text-align: left;
}

section > .container > small {
    display: block;
    margin-bottom: 40px;
    line-height: 2em;
    font-size: 16px;
}

article section a.linkage {
    display: inline-block;
    position: relative;
    width: 460px;
    height: 330px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

article section a.linkage > .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

article section a.linkage h3,
article section a.linkage small {
    line-height: 1.6em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
}

article section a.linkage h3 {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    cursor: pointer;
}

article section a.linkage small {
    font-size: 16px;
}

article section a.linkage small h4,
article section a.linkage small p {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
}

article section a.linkage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article section.info li {
    line-height: 2em;
}

article section.overview a.linkage {
    background-size: auto 100%;
}

article section.overview a.linkage:nth-of-type(n+3),
article section.place a.linkage:nth-of-type(n+3) {
    margin-top: 30px;
}

article section.overview a.linkage:nth-of-type(even),
article section.place a.linkage:nth-of-type(3n+2) {
    margin-left: 30px;
}

article section.overview a.linkage:hover {
    background-size: 0, auto 100%;
}

article section.overview a.linkage img:last-of-type {
    display: none;
}

article section.overview a.linkage:hover img:first-of-type {
    display: none;
}

article section.overview a.linkage:hover img:last-of-type {
    display: block;
}

article section.luggage a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 64px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.35);
    background-color: #3890be;
    outline: 0;
    border: 0;
    border-radius: 8px;
    line-height: 64px;
    font-size: 18px;
    color: #fff;
}

article section.place a.linkage:nth-of-type(3n) {
    width: 960px;
    height: 720px;
}

article section.place a.linkage::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
}

article section.place a.linkage:hover::before {
    display: none;
}

footer {
    position: relative;
    height: 130px;
    background-color: #d8d8d8;
    text-align: center;
}

footer > .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

footer img {
    margin-right: 30px;
    height: 50px;
}

footer a {
    font-size: 16px;
}

footer a + a {
    margin-left: 16px;
}

.middle,
.middle > *,
.middle::after {
    vertical-align: middle;
}

.middle > *,
.middle::after {
    display: inline-block;
}

.middle::after {
    height: 100%;
    content: "";
}

@media (max-width: 1023px) {

    h1 {
        font-size: 52px;
    }

    header {
        padding-top: 20vh;
    }

    header > small {
        font-size: 28px;
    }

    article section > .container,
    footer > .container {
        padding-left: 80px;
        padding-right: 80px;
        width: 100%;
    }

    article section a.linkage {
        width: 48%;
        height: 220px;
    }

    article section.overview a.linkage:nth-of-type(n+3),
    article section.place a.linkage:nth-of-type(n+3) {
        margin-top: 20px;
    }

    article section.overview a.linkage:nth-of-type(even),
    article section.place a.linkage:nth-of-type(3n+2) {
        margin-left: 3%;
    }

    article section.place a.linkage:nth-of-type(3n) {
        width: 100%;
        height: 360px;
    }

    article section a.linkage h3 {
        font-size: 18px;
    }

    article section a.linkage small {
        font-size: 13px;
    }

    footer img {
        width: 120px;
        height: auto;
    }

}

@media (max-width: 767px) {

    h1 {
        font-size: 24px;
    }

    h2,
    section > .container > small {
        padding-left: 20px;
        padding-right: 20px;
    }

    h2 {
        font-size: 22px;
    }

    header {
        padding-top: 25vh;
    }

    header img {
        width: 220px;
    }

    header > small {
        font-size: 14px;
    }

    ol,
    ul {
        margin-left: 20px;
        padding-left: 20px;
        font-size: 13px;
    }

    article section > .container,
    footer > .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    section > .container > small {
        font-size: 13px;
    }

    article section a.linkage > .container {
        left: 10px;
        right: 10px;
    }


    article section a.linkage h3 {
        font-size: 16px;
    }

    article section a.linkage small {
        font-size: 12px;
    }
    article section.overview a.linkage:nth-of-type(even),
    article section.place a.linkage:nth-of-type(3n+2) {
        margin-left: 2%;
    }

    article section.luggage a {
        width: 100%;
    }

    footer {
        height: 120px;
    }

    footer .container {
        text-align: center;
    }

    footer .middle img,
    footer img {
        display: block;
    }

    footer img {
        margin: 0 auto 10px;
    }

    footer a {
        font-size: 12px;
    }

    footer a:nth-of-type(3) {
    }

}